@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --white: #F0F1F3;
    --mint: #82D3AA;
    --black: #3A403F;
    --black2: #090a09;
    --green1: #077D08;
    --neon-green: #00B300; 
    --fontsize: 1.2em;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    border: solid red;
    font-family: 'Nunito Sans', sans-serif;
    background: var(--white);
    color: var(--black);
}

/* FUENTE DE LOS TITULOS:

font-family: 'Caveat Brush', cursive;*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    z-index: 1000;
    background: var(--white);
    box-shadow: 0px 1px 3px #3a403f40;
}

header .logo{
    display: flex;
    gap: 12px;
    align-items: center;
}

header .logo .logo-img{
    width: 2em;
}

header .logo .logo-text{
    font-family: 'Caveat Brush', cursive;
    color: var(--black2);
    font-weight: 500;
    font-size: 3em;
}

header .bars-menu{
    padding: 12px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 2px 2px 5px var(--black);
    cursor: pointer;
    display: none;
    z-index: 10001;
}

header .bars-menu i{
    font-size: var(--fontsize);
}


header nav .navbar{
    display: flex;
    gap: 16px;
}


header nav .navbar * a{
    padding: 8px;
    background: transparent;
    border-bottom: 2px transparent;
    font-size: var(--fontsize);
    font-weight: 600;
    color: var(--black);
    transition: .2s ease;
}

header nav .navbar * a:hover{
    border-bottom: solid var(--black);
}

 .btn{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    border: none;
    box-shadow: 2px 2px 5px var(--black);
    background: transparent;
    transition: .2s ease;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease;
    color: var(--black);
}

.btn:hover{
    box-shadow: 0 0 20px #3a403f84, 0 0 20px #3A403F84;
}

section{
    padding: 0 4em;
}

.hero{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; 
    gap: 2.5rem;
}

.hero .hero-text{
    color: var(--black);   
}

.hero-text h3{
    font-size: var(--fontsize);
    font-weight: 600;
    margin-bottom: 8px;
}

.hero-text h2{
    margin-bottom: 8px;
    font-weight: 500;
    font-family: 'Caveat Brush', cursive;
    font-size: 2rem;
}

.hero-text h2 i{
    margin-left: 12px;
}

.hero-text p{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.hero-text p span{
    font-family: 'Caveat Brush', cursive;
    font-size: 2rem;
    color: var(--green1);
    font-style: italic;
}

.hero .hero-text .btn{
    font-size: 1.1em;
}

.hero .hero-text .btn:first-of-type{
    color: var(--white);
    background-color: var(--neon-green);
    margin-right: 16px;
}

.hero .hero-text .btn:first-of-type:hover{
    box-shadow: 0 0 20px #00B300, 0 0 20px #00B300;    
}

.hero .hero-text .btn:first-of-type .clickMe{
    animation: clickme 2s ease infinite; 
}

@keyframes clickme {
    30%{
        transform: scale(1.2);
    }
    40%, 60% { 
        transform: rotate(-20deg) scale(1.2);
    }
    50% { 
        transform: rotate(20deg) scale(1.2); 
    }
    70% { 
        transform: rotate(0deg) scale(1.2); 
    }
    100% 
    { transform: scale(1);
    }        
}

.hero .hero-img{
    width: 100%;
    height: auto;
}

.hero .hero-img img{
    filter: drop-shadow(6px 6px 12px #3a403f84);
}
/*
.hero .hero-img img{
    border: solid red;
    transform: scaleX(-1);
}

/* social media icons */

.social-media{
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    padding: 0 1.2em;
}

.social-media .social-media-icon{
    display: block;
    padding: 6px;
    margin: 1em 0;
    background: var(--green1);
    border-radius: 4px;
    color: var(--white);
    box-shadow: 2px 2px 5px var(--black);
    transition: .3s ease;
}

.social-media .social-media-icon:hover{
    background: var(--black2);
    color: var(--white);
    transform: translateY(-8px);
}

/* 1300px desktop and laptop */
@media(max-width: 1300px){
    
    .social-media{
        top:  80%;
        right: 4rem;
        padding: 0;
        transform: translateY(0);
    }

    .social-media .social-media-icon{
        display: inline;
        margin: 0 1em;
    }
}

@media(max-width: 1060px){

    .hero{
        padding: 12rem 0 0 0;
        grid-template-columns: 1fr;
    }

    .hero-text{
        text-align: center;
    }

    .hero-text p{
        margin-bottom: 16px;
    }

    .hero .hero-img{
        text-align: center;
    }

    .social-media{
        right: 8%;
        transform: translateY(-50%);
        padding: 0 1.2em;
    }

    .social-media .social-media-icon{
        display: block;
        margin: 1em 0;
    }

}