@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --white: #F0F1F3;
    --mint: #82D3AA;
    --black: #3A403F;
    --black2: #090a09;
    --neon-green: #00B300; 
    --fontsize: 1.2em;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: var(--white);
    color: var(--black);
}

/* FUENTE DE LOS TITULOS:

font-family: 'Caveat Brush', cursive;*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    z-index: 1000;
    background: transparent;
    box-shadow: 0px 1px 3px #3a403f40;
}

header .logo{
    display: flex;
    gap: 12px;
    align-items: center;
}

header .logo .logo-img{
    width: 2em;
}

header .logo .logo-text{
    font-family: 'Caveat Brush', cursive;
    color: var(--black2);
    font-weight: 500;
    font-size: 3em;
}

header .bars-menu{
    padding: 12px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 2px 2px 5px var(--black);
    cursor: pointer;
    display: none;
    z-index: 10001;
}

header .bars-menu i{
    font-size: var(--fontsize);
}


header nav .navbar{
    display: flex;
    gap: 16px;
}


header nav .navbar * a{
    padding: 8px;
    background: transparent;
    border-bottom: 2px transparent;
    font-size: var(--fontsize);
    font-weight: 600;
    color: var(--black);
    transition: .2s ease;
}

header nav .navbar * a:hover{
    border-bottom: solid var(--black);
}

 .btn{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    border: none;
    box-shadow: 2px 2px 5px var(--black);
    background: transparent;
    transition: .2s ease;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease;
    color: var(--black);
}

.btn:hover{
    box-shadow: 0 0 20px #3a403f84, 0 0 20px #3A403F84;
}

section .hero-text .btn{
    font-size: 1.1em;
}

section .hero-text .btn:first-of-type{
    color: var(--white);
    background-color: var(--neon-green);
    margin-right: 16px;
}
section .hero-text .btn:first-of-type:hover{
    box-shadow: 0 0 20px #00B300, 0 0 20px #00B300;    
}
section .hero-img img{
    transform: scaleX(-1);
}